@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
.border-right {
  border-right: 4px solid #292C29;
}
.border-left {
  padding-left: 5px;
  border-left: 10px solid #292C29;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}
nav {
  height: 40px;
  background-color: #3ce02c;
}
#index header.jumbo {
  padding: 50px 0;
  background-color: #16760D;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#index header.jumbo h1 {
  padding: 0 10px;
  border-right: 4px solid #292C29;
  padding-left: 5px;
  border-left: 10px solid #292C29;
}
#index div {
  padding: 5px 0;
}
#index h2 {
  width: 164px;
  color: #CD3B1E;
  border-right: 4px solid #292C29;
  padding-left: 5px;
  border-left: 10px solid #292C29;
}
#index h3 {
  color: #16760D;
  padding-left: 5px;
  border-left: 10px solid #292C29;
}
#index h4 {
  color: #3ce02c;
}
#index .btn {
  background-color: #292C29;
  border-color: #292C29;
}
#index .btn:hover {
  background-color: #27871e;
  border-color: #27871e;
}
