// out: false

//colors
@light-green: #3ce02c;;
@dark-green: #16760D;
@dark-gray: #292C29;
@red: #CD3B1E;

//fonts:
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@primary-font: 'Roboto', sans-serif;